<div class="global_div_bodyPt1">
  <img src="assets\backgrounds\background__home.png" class="hero-image" />

  <div class="container_over_background">
    <div class="container_buyNow">
      <div class="subcontainer_buyNow">
        <p class="p1">New Arrival</p>
        <h1>
          Discover Our <br />
          New Collection
        </h1>
        <p class="p2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat,
          maiores accusamus. Nobis ea sequi, impedit minima placeat culpa iure
          facilis? Adipisci sapiente debitis harum facere, ducimus mollitia
          voluptas dolore perspiciatis.
        </p>
        <button>BUY NOW</button>
      </div>
    </div>
  </div>
</div>
