* {
  box-sizing: border-box;
}

.global_header {
  width: 100%;

  background: white;

  position: relative;

  border-bottom: 1px solid #eee;
}

/* CONTAINER */

.container_header {
  width: 100%;

  padding: 20px 5%;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
}

/* NAV DESKTOP */

.desktop_nav {
  display: flex;
}

/* RIGHT */

.right_section {
  display: flex;

  align-items: center;

  gap: 20px;
}

/* HAMBURGER */

.hamburger {
  display: none;

  border: none;

  background: transparent;

  font-size: 32px;

  cursor: pointer;
}

/* MOBILE MENU */

.mobile_menu {
  width: 100%;

  display: flex;

  flex-direction: column;

  background: white;

  border-top: 1px solid #eee;
}

.mobile_menu a {
  padding: 20px;

  text-decoration: none;

  color: black;

  border-bottom: 1px solid #eee;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
  .desktop_nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
