<header class="global_header">
  <div class="container_header">
    <!-- LOGO -->
    <app-logo class="logo"></app-logo>

    <!-- NAV DESKTOP -->
    <div class="desktop_nav">
      <app-navbar></app-navbar>
    </div>

    <!-- RIGHT -->
    <div class="right_section">
      <app-options-user></app-options-user>

      <!-- HAMBURGER -->
      <button class="hamburger" (click)="toggleMenu()" type="button">☰</button>
    </div>
  </div>

  <!-- MENU MOBILE -->
  <div class="mobile_menu" *ngIf="menuOpen">
    <a routerLink="/" (click)="menuOpen = false"> Home </a>

    <a routerLink="/shop" (click)="menuOpen = false"> Shop </a>

    <a routerLink="/about" (click)="menuOpen = false"> About </a>

    <a routerLink="/contact" (click)="menuOpen = false"> Contact </a>
  </div>
</header>
