<main>
  <div class="container_interno_principal">
    <div class="container_texto">
      <h1>Browse The Range</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="container_das_imagens">
      <figure>
        <img src="assets\B_T_R\dinning.png" alt="Dining" />
        <figcaption>Dinning</figcaption>
      </figure>
      <figure>
        <img src="assets\B_T_R\living.png" alt="Living" />
        <figcaption>Living</figcaption>
      </figure>
      <figure>
        <img src="assets\B_T_R\bedroom.png" alt="Bedroom" />
        <figcaption>Bedroom</figcaption>
      </figure>
    </div>
  </div>
</main>
